html {
    width: 100%;
}

body {
    width: 100%;
    background-color: #212529;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    color: white;
}

li {
    list-style: none;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Cinzel-Bold', serif;
    margin: 0;
}

.fa-facebook,
.fa-twitter,
.fa-instagram,
.fa-youtube,
.fa-envelope-o {
    cursor: pointer;
}

.fa-chevron-left,
.fa-chevron-right {
transform: scale(0.8);
color: #eaeaea4d;
}

.fa-chevron-right {
    margin-left: 6px;
}

.fa-chevron-left:hover,
.fa-chevron-right:hover {
    color: #eaeaea;
    cursor: pointer;
}

.news__menu i {
    display: none;
}

p {
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    color: #c4c4c4;
    font-weight: 400;
    line-height: 24px;
    margin: 0 0 15px 0;
}

.top-head {
    display: flex;
    width: 100%;
    justify-content: space-around;
    background-color: #080808;
}

.region-info {
    display: flex;
    padding-right: 20px;
    color: #c4c4c4;
    font-size: 13px;
}

.region-info li {
    padding-right: 20px;
}

.region-info li:last-child:hover {
    cursor: pointer;
}

.region-info >  li::after {
    content: " / ";
    color: #444444;
    margin-left: 20px;
    font-family: 'Montserrat', sans-serif;
}

.region-info >  li:last-child::after {
    content: none;
}

.social {
    display: flex;
    font-size: 14px;
}

.social li {
    padding-right: 10px;
}

.header-logo {
    display: flex;
    justify-content: center;
    padding: 44px 0;
    background-color: #0d0d0d;
}

.bottom-head {
    display: flex;
    justify-content: center;
    background-color: #9e0303;
    height: 72px;
}

.header-menu {
    display: flex;
    font-family: 'Cinzel';
    margin: 10px;
}

.header-menu .fa-angle-down {
    transform: skewX(15deg) scale(0.9);
}

.header-menu > li {
    background-color: #a81d1d;
    padding: 17px 15px 13px 30px ;
    margin-right: 10px;
    transform: skewX(-15deg);
}

.header-menu > li:hover {
    background-color: #c20000;
    cursor: pointer;
}

.header-menu .activ {
    background-color: #c20000;
}

.header-menu > li > span {
    transform: skewX(15deg);
    display: inline-block;
}

.header-menu > li:first-child {
    padding: 15px 25px;
    margin-right: 120px;
}

.header-menu > li:last-child {
    padding: 15px 25px;
    margin-left: 120px;
}

.platform-menu {
    position: relative;
}

.platform-menu:hover .platform-menu__container {
    display: flex;
}

.platform-menu__container {
    position: absolute;
    width: 1170px;
    height: 279px;
    padding: 24px 30px 16px 30px;
    background-color: #080808;
    transform: skewX(15deg);
    left: -280px;
    top: 52px;
    display: none;
    flex-direction: column;
    cursor: default;
    transition-delay: 0.5s;
    transition: all 0.5s;
    border-top: 10px solid #9e0303;
}

.platform-menu__container > ul {
    display: flex;
}

.platform-menu__container > ul > li {
    margin-right: 20px;
    font-size: 14px;
}

.platform-menu__container > ul::before {
    content: "";
    width: 7px;
    height: 15px;
    background-color: #c20000;
    transform: skewX(-15deg);
    display: inline-block;
    margin-right: 10px;
    margin-top: 1px;
}

.platform-menu__container > ul > li::after {
    content: " / ";
    color: #444444;
    margin-left: 20px;
    font-family: 'Montserrat', sans-serif;
}

.platform-menu__container > ul > li:last-child::after {
    content: none;
}

.platform-menu__container > ul > li:hover {
    color: #c20000;
    transition: 0.3s;
}

.platform-menu__container-content {
    display: flex;
}

.platform-menu__container-content-item {
    display: flex;
    flex-direction: column;
     width: calc(20% - 30px); 
    margin-top: 30px;
    margin-right: 30px;
}

.platform-menu__container-content-item img {
    align-self: flex-start;
}

.platform-menu__container-content-item h4 {
    margin-left: 0px;
    font-size: 11px;
    margin-top: 10px;
}

.platform-menu__item-date {
    display: flex;
    padding-left: 0;
    margin-top: 10px;
}

.platform-menu__item-date li {
    font-size: 12px;
    font-style: italic;
    color: #666666;
    margin-right: 10px;
}

.pages-menu {
    position: relative;
}

.pages-menu:hover .pages-menu__container{
    display: flex;
}

.pages-menu__container {
    position: absolute;
    width: 180px;
    background-color: #252525;
    padding: 13px 0 20px;
    transform: skewX(15deg);
    top: 52px;
    left: 52px;
    display: none;
    flex-direction: column;
    justify-content: center;
    transition-delay: 0.5s;
    transition: all 0.5s;
    border-top: 10px solid #9e0303;
    cursor: default;
}

.pages-menu__container > ul {
    padding: 0px;
}

.pages-menu__container > ul > li {
    padding:6px 0 6px 30px;
}

.pages-menu__container > ul > li:hover {
    text-shadow: 1px 0px 0px #ffffff;
    cursor: pointer;
}

.intro {
    background-image: url('../img/hero-1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.menu-spec {
    padding: 8px 7px 8px 12px;
    background: rgba(194, 0, 0, 0.3);
    transform: skewX(-15deg);
    display: block;
    font-size: 12px;
    font-style: italic;
    font-weight: 500;
    align-self: start;
}

.menu-spec span {
    transform: skewX(15deg);
    display: inline-block;
    font-size: 12px;
}

.menu-spec__comment {
    display: flex;
}

.menu-spec__comment span {
    font-size: 14px;
    color: #c4c4c4;
    font-style: italic;
    font-weight: 500;
    align-self: center;
}

.menu-spec__comment span:last-child::before {
    content: "/";
    margin: 0 12px;
}

.intro-wrap {
    padding: 160px 0;
    display: flex;
    justify-content: center;
    max-width: 1170px;
    margin: 0 auto;
    justify-content: space-between;
}

.intro-left {
    display: flex;
    flex-direction: column;
    max-width: 50%;
    align-self: center;
}

h2 {
    font-size: 30px;
    font-weight: 700;   
    margin: 18px 0 20px 0;
    line-height: 42px;
}

.menu-spec__comment img {
    border-radius: 50%;
    margin-right: 10px;
}

.intro-right {
    background-color: rgba(0, 0, 0, 0.8);
    height: 626px;
    padding: 35px 30px 40px 40px;
    display: flex;
    flex-direction: column;
    max-width: 24.333%;
    margin-left: 16.666667%;
}

.intro-right__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.intro-right__header > h3::before {
    content: "";
    width: 11px;
    height: 15px;
    background-color: #c20000;
    transform: skewX(-15deg);
    display: inline-block;
    margin-right: 10px;
    margin-top: 1px;
}

.intro-right__chevron {
    justify-self: flex-end;
}

h3 {
    font-size: 20px;
    font-weight: 700;
    font-style: italic;
    letter-spacing: 1px;
    margin: 0;
}

h4 {
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 1px;
    margin-left: 15px;
}

.intro-right li {
    font-size: 12px;
    font-style: italic;
    color: #666666;
    margin-right: 10px;
}

.intro-right__item {
    display: flex;
    margin-bottom: 40px;
}

.intro-right__item > .right-column > h4:hover {
    color: #c20000;
    cursor: pointer;
    transition: 0.3s;
}

.right-column {
    display: flex;
    flex-direction: column;
}

.intro-right__item img {
    align-self: flex-start;
}

.intro-right__item-date {
    display: flex;
    padding-left: 15px;
}

.latest-preview {
    height: 396px;
    background-color: #080808;
    padding: 65px 0 34px 0;
}

.latest-preview__container {
    display: flex;
    height: 396px;
    flex-direction: column;
    margin: 0 auto 0 auto;
    padding: 0 15px;
}

.latest-preview__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 35px;
    margin-left: 350px;
}

.latest-preview__header > h3::before {
    content: "";
    width: 11px;
    height: 15px;
    background-color: #c20000;
    transform: skewX(-15deg);
    display: inline-block;
    margin-right: 10px;
    margin-top: 1px;
}

.latest-preview__chevron {
    justify-self: flex-end;
    margin-right: 380px;
}

.latest-preview__items {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.latest-preview__item {
    display: flex;
    flex-direction: column;
    max-width: 262px;
    margin-right: 30px;
}

.latest-preview__item h4 {
    margin: 0;
    line-height: 22px;
    font-weight: 700;
    font-size: 16px;
    padding-top: 25px;
}

.latest-preview__item > h4:hover {
    cursor: pointer;
}

.latest-preview__item-date {
    display: flex;
    padding-left: 0;
}

.latest-preview li {
    font-size: 12px;
    font-style: italic;
    color: #666666;
    margin-right: 10px;
}

.lp-pic {
    height: 180px;
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
}

.latest-preview__item:nth-child(1) .lp-pic {
    background-image: url("../img/lp-1.jpg");
}

.latest-preview__item:nth-child(2) .lp-pic {
    background-image: url("../img/lp-2.jpg");
}

.latest-preview__item:nth-child(3) .lp-pic {
    background-image: url("../img/lp-3.jpg");
}

.latest-preview__item:nth-child(4) .lp-pic {
    background-image: url("../img/lp-4.jpg");
}

.news {
    padding: 65px 0 30px 0;
    background-color: #0d0d0d;
}

.news__container {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    max-width: 1170px;
}

.news__left-column {
    display: flex;
    flex-direction: column;
    width: 780px;
}

.news__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 35px;
}

.news__header > h3::before {
    content: "";
    width: 11px;
    height: 15px;
    background-color: #c20000;
    transform: skewX(-15deg);
    display: inline-block;
    margin-right: 10px;
    margin-top: 1px;
}

.news__menu {
    display: flex;
    margin: 0;
}

.news__menu .news__menu_selected {
    color: #c20000;
}

.news__menu li {
    margin-right: 30px;
    padding: 0;
    font-size: 14px;
    color: #c4c4c4;
    letter-spacing: 1px;
}

.news__menu li:hover {
    cursor: pointer;
    color: #c20000;
}

.news__chevron {
    justify-self: end;
}

.news__main-item {
    height: 540px;
    position: relative;
    margin-bottom: 20px;
    width: 100%;
}

.news__main-item-background {
    background-image: url("../img/news-1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    width: 100%;
    height: 100%;
}

.news__main-item img {
    width: 100%;
    height: 100%;
}

.news__text-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 0;
    margin-left: 30px;
}

.news__item-date {
    display: flex;
    padding-left: 0;
}

.news__item-date li {
    font-size: 12px;
    font-style: italic;
    color: #666666;
    margin-right: 10px;
}

.news .admin-post {
    color: #c20000;
}

.news__row {
    display: flex;
}

.news__row-item-wrap {
    display: flex;
    flex-direction: column;
}

.news__row-item {
    flex-direction: column;
    margin-right: 15px;
    position: relative;
}

.news__row-item-wrap:nth-child(1) {
    padding-right: 15px;
}

.news__row-item-wrap:nth-child(2) {
    padding-right: 15px;
    padding-left: 15px;
}

.news__row-item-wrap:nth-child(3) {
    padding-left: 15px;
}

.news__row-item-wrap:nth-child(1) .news__row-item {
    background-image: url("../img/news-3.jpg");
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 166px;
    width: 100%;
}

.news__row-item-wrap:nth-child(2) .news__row-item {
    background-image: url("../img/news-4.jpg");
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 166px;
    width: 100%;
}

.news__row-item-wrap:nth-child(3) .news__row-item {
    background-image: url("../img/news-2.jpg");
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 166px;
    width: 100%;
}



.news__row-item-content {
    padding-top: 10px;
}

.news__row-item-content > h4 {
    margin-top: 10px;
    margin-left: 0px;
}

.news__row-item-content > h4:hover {
    cursor: pointer;
}

.news__row-item-content > .news__item-date {
    margin-left: 0px;
}

.news__row-item-reviews {
    position: absolute;
    bottom: 0;
    display: flex;
    top: 130px;
    left: 10px;
}

.news__right-column {
    display: flex;
    flex-direction: column;
    width: 33%;
}

.news__right-header {
    display: flex;
    flex-direction: column;
    margin-left: 40px;
}

.news__right-header > h3::before {
    content: "";
    width: 11px;
    height: 15px;
    background-color: #c20000;
    transform: skewX(-15deg);
    display: inline-block;
    margin-right: 10px;
    margin-top: 1px;
}

.news__social {
    display: flex;
}

.news__social-icon {
    background-color: #252525;
     padding: 20px 20px 20px 18px; 
     margin-right: 10px;
}

.news__social li {
    border: solid 1px #252525;
    transform: skewX(-15deg);
    margin-bottom: 20px;
}

.news__social li span:last-child {
    align-self: flex-end;
    margin-left: 80px;
    margin-right: 20px;
}

.news__social li span {
    transform: skewX(15deg);
    display: inline-block;
}

.news__social li:hover .news__social-icon {
    background-color: #40c4ff;
}

.news__social li:hover {
    border-color: #40c4ff;
}

.news__guides {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
    margin-left: 40px;
}

.news__guides-header {
    margin-bottom: 20px;
}

.news__guides-header > h3::before {
    content: "";
    width: 11px;
    height: 15px;
    background-color: #c20000;
    transform: skewX(-15deg);
    display: inline-block;
    margin-right: 10px;
    margin-top: 1px;
}

.news__guides-item {
    display: flex;
    margin-bottom: 14px;
}

.news__guides-item > .right-column > h4:hover {
    color: #c20000;
    cursor: pointer;
    transition: 0.3s;
}

.news__guides-item img {
    align-self: flex-start;
}

.news__item-date {
    display: flex;
    margin-left: 10px;
}

.news__item-date li {
    font-size: 12px;
    font-style: italic;
    color: #666666;
    margin-right: 10px;
}

.guide {
    background-color: #080808;
    padding: 55px 0 50px 0;
    height: 725px;
}

.guide__container {
    max-width: 1170px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
}

.guide__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 35px;
}

.guide__header > h3::before {
    content: "";
    width: 11px;
    height: 15px;
    background-color: #c20000;
    transform: skewX(-15deg);
    display: inline-block;
    margin-right: 10px;
    margin-top: 1px;
}

.guide__menu {
    display: flex;
    margin: 0;
    margin-left: 560px;
}

.guide__menu > li:hover {
    cursor: pointer;
    color: #c20000;
}

.guide__menu .guide__menu_selected {
    color: #c20000;
}

.guide__menu li {
    margin-right: 30px;
    padding: 0;
    font-size: 14px;
    color: #c4c4c4;
    letter-spacing: 1px;
}

.guide__chevron {
    justify-self: end;
}

.guide__row {
    display: flex;
    margin-bottom: 15px;
}

.guide__row-first-item {
    background-image: url(../img/videos-1.jpg);
    background-repeat: no-repeat;
    width: 50%;
    height: 384px;
    position: relative;
    margin-right: 10px;
}

.guide_row-text-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 0;
    margin-left: 30px;
    margin-right: 20px;
    margin-bottom: 10px;
}

.guide__item-date {
    display: flex;
    padding: 0;
}

.guide__item-date li {
    font-size: 12px;
    font-style: italic;
    color: #666666;
    margin-right: 10px;
}

.guide__row-second-item {
    background-image: url(../img/videos-2.jpg);
    background-repeat: no-repeat;
    width: 50%;
    height: 384px;
    position: relative;
}

.guide__row-third-item {
    background-image: url(../img/videos-3.jpg);
    background-repeat: no-repeat;
    width: 33%;
    height: 252px;
    position: relative;
    margin-right: 10px;
}

.guide_row-text-container-small { 
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 0;
    margin-left: 16px;
    margin-right: 50px;
    margin-bottom: 30px;
}

.guide__row-fourth-item {
    background-image: url(../img/videos-4.jpg);
    background-repeat: no-repeat;
    width: 33%;
    height: 252px;
    position: relative;
    margin-right: 10px;
}

.guide__row-fifth-item {
    background-image: url(../img/videos-5.jpg);
    background-repeat: no-repeat;
    width: 33%;
    height: 252px;
    position: relative;
}

.instagram {
    background-color: #0d0d0d;
    padding: 70px 0;
    height: 1267px;
}

.instagram__container {
    height: 1267px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    max-width: 1170px;
}

.instagram__left-column {
    display: flex;
    flex-direction: column;
    margin-right: 10px;
}

.instagram__header {
    display: flex;
    margin: 0;
    margin-bottom: 35px;
}

.instagram__header > h3::before {
    content: "";
    width: 11px;
    height: 15px;
    background-color: #c20000;
    transform: skewX(-15deg);
    display: inline-block;
    margin-right: 10px;
    margin-top: 1px;
}

.instagram__left-column img {
    align-self: flex-start;
    margin-right: 40px;
}

.instagram__left-column-item {
    display: flex;
    margin-bottom: 20px;
}

.instagram__left-column-item-content > h3:hover {
    cursor: pointer;
}

.instagram__left-column-item-content {
    display: flex;
    flex-direction: column;
}

.instagram__left-column-item-content .menu-spec {
    margin-bottom: 20px;
}

.instagram__item-date {
    display: flex;
    padding-left: 0;
}

.instagram__item-date li {
    font-size: 12px;
    font-style: italic;
    color: #666666;
    margin-right: 10px;
}

.instagram .admin-post {
    color: #c20000;
}

.instagram__left-column-navigation {
    display: flex;
    margin-top: 20px;
}

.instagram__left-column-navigation-item {
    transform: skewX(-15deg);
    background-color: #252525;
    font-size: 18px;
    padding: 8px 18px 6px;
    margin-right: 8px;
}

.instagram__left-column-navigation-item:hover {
    cursor: pointer;
    background-color: #666666;
}

.instagram__left-column-navigation-item span {
    transform: skewX(15deg);
    display: inline-block;
}

.instagram__right-column {
    display: flex;
    flex-direction: column;
    width: 48%;
}

.instagram__right-column-item {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.instagram__right-column-item img {
    margin-right: 10px;
    margin-bottom: 10px;
}

.instagram__right-column-raiting {
    display: flex;
    flex-direction: column;
}

.instagram__right-column-raiting > h4:hover {
    cursor: pointer;
}

.instagram__right-column-container {
    display: flex;
}

.raiting-container-first, .raiting-container-second, .raiting-container-third, .raiting-container-fourth {
    position: relative;
}

.raiting-container-first::before {
    content: "9.5";
    margin-top: 18px;
    display: flex;
    margin-left: 16px;
    font-size: 20px;
}

.raiting-container-second::before {
    content: "8.5";
    margin-top: 18px;
    display: flex;
    margin-left: 16px;
    font-size: 20px;
}

.raiting-container-third::before {
    content: "8.0";
    margin-top: 18px;
    display: flex;
    margin-left: 16px;
    font-size: 20px;
}

.raiting-container-fourth::before {
    content: "7.5";
    margin-top: 18px;
    display: flex;
    margin-left: 16px;
    font-size: 20px;
}

.raiting-content {
    display: flex;
    flex-direction: column;
    margin-left: 7px;
}

.round-first {
    fill: none;
    stroke: #c20000;
    stroke-width: 3;
    stroke-linecap: round;
    stroke-dasharray: 298;
    transform: rotate(-90deg);
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1000;
}

.round-second {
    fill: none;
    stroke: #c20000;
    stroke-width: 3;
    stroke-linecap: round;
    stroke-dasharray: 265;
    transform: rotate(-90deg);
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1000;
}

.round-third {
    fill: none;
    stroke: #c20000;
    stroke-width: 3;
    stroke-linecap: round;
    stroke-dasharray: 249;
    transform: rotate(-90deg);
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1000;
}

.round-fourth {
    fill: none;
    stroke: #c20000;
    stroke-width: 3;
    stroke-linecap: round;
    stroke-dasharray: 233;
    transform: rotate(-90deg);
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1000;
}

  .round-back {
    fill: none;
    stroke: #212529;
    stroke-width: 3;
    stroke-linecap: round;
    stroke-dasharray: 298;
    transform: rotate(90deg);
    position: absolute;
    left: 0;
    top: 0;
    z-index: 500;
}

.instagram__item-date {
    display: flex;
    padding: 0;
    margin-left: 14px;
}

.instagram__item-date li {
    font-size: 12px;
    font-style: italic;
    color: #666666;
    margin-right: 10px;
}

.instagram__right-column-raiting ul:last-child {
    margin-bottom: 30px;
    margin-top: 4px;
}

.instagram__input {
    border: 1px solid #464646;
    padding-left: 20px;
    transform: skewX(-15deg);
    margin-bottom: 20px;
}

.instagram__input input {
    transform: skewX(15deg);
    background: transparent;
    color: #eaeaea;
    border: none;
    font-size: 14px;
    height: 46px;
    outline: none;
}

.instagram__subscribe {
    transform: skewX(-15deg);
    background-color: #680606;
    padding: 20px 0 20px 115px;
}

.instagram__subscribe:hover {
    cursor: pointer;
    background-color: #c20000;
}

.instagram__subscribe span {
    transform: skewX(15deg);
    font-size: 14px;
    font-weight: 600;
    color: #eaeaea;
    letter-spacing: 0.5px;
    display: inline-block;
    font-family: inherit;
}

.footer-section {
    background-color: #080808;
    padding-top: 60px;
    height: 397px;
}

.footer__container {
    display: flex;
    justify-content: center;
    max-width: 1170px;
    margin: auto;
}

.footer__container-column {
    display: flex;
    flex-direction: column;
    width: 69%;
    margin-right: 20px;
}

.footer__container-column:first-child {
    width: 72%;
}

.footer__container-column img {
    align-self: flex-start;
}

.footer__container-column p {
    margin-top: 20px;
    margin-bottom: 20px;
}

.footer__social {
    display: flex;
    margin-top: 20px;
}

.footer__social-item {
    transform: skewX(-15deg);
    background-color: #252525;
    padding: 10px 15px;
    margin-right: 8px;
}

.footer__social-item:hover {
    cursor: pointer;
    background-color: #666666;
}

.footer__social-item i {
    transform: skewX(15deg);
    display: inline-block;
}

.footer__container-column-wrap {
    display: flex;
}

.footer__container-column-item {
    display: flex;
    margin-bottom: 20px;
}

.footer__header {
    display: flex;
    margin: 0;
    margin-bottom: 35px;
}

.footer__header > h3::before {
    content: "";
    width: 11px;
    height: 15px;
    background-color: #c20000;
    transform: skewX(-15deg);
    display: inline-block;
    margin-right: 10px;
    margin-top: 1px;
}

.footer__item-date {
    display: flex;
    padding-left: 0;
    margin-left: 16px;
}

.footer__item-date li {
    font-size: 12px;
    font-style: italic;
    color: #666666;
    margin-right: 10px;
}

.footer__container-column-item-content {
    display: flex;
    flex-direction: column;
}

.footer__container-column-item-content > h4:hover {
    cursor: pointer;
}

.footer__tags-list {
    display: flex;
    flex-wrap: wrap;
}

.footer__tags-list-item {
    transform: skewX(-15deg);
    padding: 6px 12px 5px;
    margin-right: 9px;
    border: 1px solid #363636;
    font-size: 13px;
    height: 19px;
    margin-bottom: 15px;
}

.footer__tags-list-item:hover {
    cursor: pointer;
}

.footer__tags-list-item span {
    transform: skewX(15deg);
    display: inline-block;
}
