@media only screen and (max-device-width: 748px) {
    .header-menu li {
        display: none;
    }

    .header-menu li:first-child {
        display: flex;
        margin: 0;
    }

    /* .humbuger-menu__wrap { */
        /* position: fixed; */
        /* left: 0; */
        /* top: 0; */
        /* height: 100%; */
        /* width: 100%; */
        /* background: rgba(13, 9, 9, 0.8); */
        /* z-index: 999; */
    /* } */
    
    .header-menu li:last-child {
        display: flex;
        margin-left: 10px;
    }

    .header-menu {
        padding: 0px;
    }

    .intro-wrap {
        margin-left: 12px;
        margin-right: 12px;
        max-width: 748px;
        flex-direction: column;
    }

    .intro-left {
        align-self: flex-start;
        padding-left: 15px;
        padding-right: 15px;
        max-width: 100%;
    }

    .intro-right {
        max-width: 100%;
        margin-left: 0;
        padding: 35px 20px 40px 20px;
        max-height: 550px;
    }

    .intro-right__header {
        margin-bottom: 35px;
    }

    .intro-right__item-date {
        margin-bottom: 0;
        margin-top: 5px;
    }

    .intro-right__item {
        margin-bottom: 45px;
    }

    .menu-spec__comment {
        margin-bottom: 50px;
    }

    .latest-preview {
        height: auto;
    }

    .latest-preview__container {
        height: auto;
        width: auto;
        padding: 0;
    }

    .latest-preview__header {
        margin-left: 20px;
    }

    .latest-preview__chevron {
        margin-right: 12px;
    }

    .latest-preview__item:last-child {
        display: none;
    } 

    .latest-preview__item:nth-child(3) {
        display: none;
    }

    .latest-preview__item:nth-child(2) {
        display: none;
    }

    .latest-preview__item {
        width: 100%;
        padding-left: 15px;
        padding-right: 15px;
        margin: 0;
        max-width: none;
    }

    .news__main-item {
        margin-bottom: 30px;
    }

    .news__header {
        flex-direction: column;
    }

    .news__header h3 {
        margin-bottom: 35px;
    }

    .news__menu {
        padding: 0;
    }

    .news__menu .fa-chevron-left {
        margin-left: 68px;
    }

    .news__menu i {
        display: inline-block;
    }

    .news__chevron {
        display: none;
    }

    .news__menu li {
        margin-right: 5px;
    }

    .news__menu li:hover {
        color: #c20000;
    }

    .news__container {
        flex-direction: column;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
        max-width: 720px;
    }

    .news__text-container h3 {
        letter-spacing: normal;
        margin-right: 10px;
    }

    .news__row h4 {
        letter-spacing: normal;
        margin-right: 14px;
    }

    .news__left-column {
        width: auto;
    }

    .news__right-column {
        width: auto;
        padding-left: 0;
        padding-right: 0;
        padding-top: 40px;
    }

    .news__right-header {
        margin-left: 0;
        margin-bottom: 20px;
    }

    .news__row {
        flex-direction: column;
    }

    .news__row-item {
        display: flex;
        width:auto;
        margin-right: auto;
    }

    .news__row-item-wrap {
        margin-bottom: 20px;
    }

    .news__row-item-wrap:nth-child(1) {
        padding-right: 0;
    }
    
    .news__row-item-wrap:nth-child(2) {
        padding-right: 0;
        padding-left: 0;
    }
    
    .news__row-item-wrap:nth-child(3) {
        padding-left: 0;
        margin-bottom: 0;
    }

    .news__item-date {
        margin-top: 4px;
    }

    .news__social i {
        transform: scale(1.05);
    }

    .news__social li:focus .news__social-icon {
        background-color: #40c4ff;
    }
    
    .news__social li:focus {
        border-color: #40c4ff;
    }

    .news__social li {
        transform: skewX(-15deg) scale(0.9);
    }

    .news__social > ul > li:nth-child(1) > span:last-child {
        margin-left: 102px;
    }

    .news__social > ul > li:nth-child(2) > span:last-child {
        margin-left: 127px;
    }

    .news__social > ul > li:nth-child(3) > span:last-child {
        margin-left: 116px;
    }

    .news__social > ul > li:nth-child(4) > span:last-child {
        margin-left: 101px;
    }

    .news__social ul {
        padding-left: 22px;
    }

    .news__social-icon {
        padding: 15px 20px 15px 20px;
        margin-left: -40px;
    }

    .news__social .fa-facebook {
        padding-left: 24px;
        padding-right: 24px;
    }

    .news__guides {
        margin-left: 0;
        margin-bottom: 0;
    }

    .news__guides-header {
        margin-bottom: 40px;
    }

    .news__guides-item {
        margin-bottom: 40px;
    }

    .guide {
        height: auto;
    }

    .guide__header {
        flex-wrap: wrap;
        margin-bottom: 20px;
    }

    .guide__header h3 {
        margin-bottom: 30px;
    }

    .guide__container {
        max-width: 748px;
        padding-right: 15px;
        padding-left: 15px;
        margin-left: auto;
        margin-right: auto;
    }

    .guide__menu {
        margin-left: 0;
        padding-left: 0;
    }

    .guide__menu li {
        margin-right: 5px;
    }

    .guide__row h4 {
        font-size: 16px;
    }

    .guide_row-text-container-small {
        margin-right: 35px;
    }

    .guide__row {
        flex-wrap: wrap;
    }

    .guide__row-first-item{
        background-size: cover;
        background-position: top center;
        width: 120%;
        margin-right: -8px;
        margin-left: -8px;
        margin-bottom: 15px;
    }

    .guide__row-second-item {
        background-size: cover;
        background-position: top center;
        width: 120%;
        margin-right: -8px;
        margin-left: -8px;
        margin-bottom: 15px;
    }

    .guide__row-third-item {
        margin-right: 15px;
        background-size: cover;
        background-position: top center;
        width: 120%;
        margin-right: -8px;
        margin-left: -8px;
        margin-bottom: 15px;
    }

    .guide__row-fourth-item {
        margin-right: 15px;
        background-size: cover;
        background-position: top center;
        width: 120%;
        margin-right: -8px;
        margin-left: -8px;
        margin-bottom: 15px;
    }

    .guide__row-fifth-item {
        background-size: cover;
        background-position: top center;
        width: 120%;
        margin-right: -8px;
        margin-left: -8px;
        margin-bottom: 15px;
    }

    .instagram {
        height: auto;
        padding-top: 0;
    }

    .instagram__container {
        flex-direction: column;
        height: auto;
        max-width: 748px;
        padding-left: 15px;
        padding-right: 15px;
        margin-left: auto;
        margin-right: auto;
    }

    .instagram__left-column {
        margin-right: 0;
    }

    .instagram__left-column-item {
        flex-direction: column;
    }

    .instagram__left-column-item img {
        margin-right: 30px;
        width: 100%;
    }

    .instagram__left-column-item-content .menu-spec {
        margin-bottom: 10px;
        margin-left: 5px;
        margin-top: 30px;
}

    }

    .instagram__left-column-item-content .instagram__item-date {
        margin-left: 0;
        margin-top: 0;
    }

    .instagram__left-column-item-content h3 {
        letter-spacing: 0.5px;
        margin-bottom: 20px;
    }

    .instagram__left-column-navigation {
        margin-top: 0;
    }

    .instagram__right-column {
        padding-top: 40px;
        width: auto;
    }

    .instagram__right-column-tabletwrap {
        display: flex;
        flex-direction: column;
    }

    .instagram__right-column-tabletwrap-left {
        display: flex;
        flex-direction: column;
    }

    .instagram__right-column-tabletwrap-right {
        display: flex;
        flex-direction: column;
        margin-left: 0;
    }

    .instagram__right-column-tabletwrap-middle {
        display: flex;
        flex-direction: column;
        align-self: center;
    }

    .instagram__right-column-item img {
    width: calc(45% - 10px);
    max-width: 100%;
    }

    .instagram__right-column-item {
    width: 400px;
    height: auto;
    }

    .instagram__right-column-container {
        margin-bottom: 30px;
    }

    .raiting-content {
        margin-left: 26px;
    }

    .raiting-content h4 {
        letter-spacing: normal;
    }

    .instagram__right-column p {
        max-width: 400px;
    }

    .instagram__input {
        max-width: 370px;
    }

    .instagram__subscribe {
        max-width: 231px;
        padding: 15px 0 15px 133px;
    }

    .footer-section {
        height: auto;
    }

    .footer__container {
        padding-left: 15px;
        padding-right: 15px;
        max-width: 748px;
        flex-direction: column;
    }

    .footer__container-column {
        width: 100%;
    }

    .footer__container > .footer__container-column:first-child {
        width: auto;
    }

    .footer__container-column:first-child {
        width: 100%;
    }

    .footer__container-column-wrap {
        display: flex;
        margin-top: 20px;
        flex-direction: column;
    }

    .footer__container-column-item-content {
        letter-spacing: normal;
    }

    .footer__container-column-item {
        margin-right: 8px;
    }

    .footer__item-date {
        margin-top: 4px;
    }
}