@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {

    .header-menu li {
        display: none;
    }

    .header-menu li:first-child {
        display: flex;
        margin: 0;
    }
    
    .header-menu li:last-child {
        display: flex;
        margin-left: 10px;
    }

    .header-menu {
        padding: 0px;
    }

    .intro-wrap {
        margin-left: 24px;
        margin-right: 24px;
        max-width: 720px;
        padding-left: 15px;
        padding-right: 15px;
    }

    .intro-left {
        align-self: flex-start;
        padding-left: 15px;
        padding-right: 15px;
        max-width: 49%;
    }

    .intro-right {
        max-width: 50%;
        height: 631px;
        margin-left: 0;
    }

    .intro-right__header {
        margin-bottom: 35px;
    }

    .intro-right__item-date {
        margin-bottom: 0;
        margin-top: 5px;
    }

    .intro-right__item {
        margin-bottom: 45px;
    }

    .latest-preview__header {
        margin-left: 24px;
    }

    .latest-preview__chevron {
        margin-right: 24px;
    }

    .latest-preview__item:last-child {
        display: none;
    } 

    .latest-preview__item {
        width: 210px;
        padding-left: 15px;
        padding-right: 15px;
        margin: 0;
    }

    .news__main-item {
        margin-bottom: 30px;
    }

    .news__container {
        flex-direction: column;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
        max-width: 720px;
    }

    .news__left-column {
        width: auto;
    }

    .news__right-column {
        width: auto;
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 40px;
    }

    .news__right-header {
        margin-left: 0;
        margin-bottom: 20px;
    }

    .news__row-item {
        display: flex;
        width: 220px;
        margin-right: 30px;
    }

    .news__item-date {
        margin-top: 4px;
    }

    .news__social li {
        transform: skewX(-15deg) scale(0.9);
    }

    .news__social > ul > li:nth-child(1) > span:last-child {
        margin-left: 477px;
    }

    .news__social > ul > li:nth-child(2) > span:last-child {
        margin-left: 494px;
    }

    .news__social > ul > li:nth-child(3) > span:last-child {
        margin-left: 483px;
    }

    .news__social > ul > li:nth-child(4) > span:last-child {
        margin-left: 468px;
    }

    .news__social ul {
        padding: 0;
    }

    .news__social-icon {
        padding: 15px 20px 15px 20px;
        margin-left: -40px;
    }

    .news__guides {
        margin-left: 0;
        margin-bottom: 0;
    }

    .news__guides-header {
        margin-bottom: 40px;
    }

    .news__guides-item {
        margin-bottom: 40px;
    }

    .guide__container {
        max-width: 1024px;
        padding-right: 15px;
        padding-left: 15px;
        margin-left: auto;
        margin-right: auto;
    }

    .guide__menu {
        margin-left: 0;
    }

    .guide__row h4 {
        font-size: 16px;
    }

    .guide_row-text-container-small {
        margin-right: 35px;
    }

    .guide__row-first-item{
        background-size: cover;
        background-position: top center;
    }

    .guide__row-second-item {
        background-size: cover;
        background-position: top center;
    }

    .guide__row-third-item {
        margin-right: 15px;
        background-size: cover;
        background-position: top center;
    }

    .guide__row-fourth-item {
        margin-right: 15px;
        background-size: cover;
        background-position: top center;
    }

    .guide__row-fifth-item {
        background-size: cover;
        background-position: top center;
    }
}