@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {

    .header-menu li {
        display: none;
    }

    .header-menu li:first-child {
        display: flex;
        margin: 0;
    }
    
    .header-menu li:last-child {
        display: flex;
        margin-left: 10px;
    }

    .header-menu {
        padding: 0px;
    }

    .intro-wrap {
        margin-left: 24px;
        margin-right: 24px;
        max-width: 720px;
        padding-left: 15px;
        padding-right: 15px;
    }

    .intro-left {
        align-self: flex-start;
        padding-left: 15px;
        padding-right: 15px;
        max-width: 49%;
    }

    .intro-right {
        max-width: 50%;
        height: 631px;
    }

    .intro-right__header {
        margin-bottom: 35px;
    }

    .intro-right__item-date {
        margin-bottom: 0;
        margin-top: 5px;
    }
}