@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {

    .header-menu li {
        display: none;
    }

    .header-menu li:first-child {
        display: flex;
        margin: 0;
    }

    /* .humbuger-menu__wrap { */
        /* position: fixed; */
        /* left: 0; */
        /* top: 0; */
        /* height: 100%; */
        /* width: 100%; */
        /* background: rgba(13, 9, 9, 0.8); */
        /* z-index: 999; */
    /* } */
    
    .header-menu li:last-child {
        display: flex;
        margin-left: 10px;
    }

    .header-menu {
        padding: 0px;
    }

    .intro-wrap {
        margin-left: 24px;
        margin-right: 24px;
        max-width: 1024px;
        padding-left: 15px;
        padding-right: 15px;
    }

    .intro-left {
        align-self: flex-start;
        padding-left: 15px;
        padding-right: 15px;
        max-width: 49%;
    }

    .intro-right {
        max-width: 50%;
        height: 631px;
        margin-left: 0;
    }

    .intro-right__header {
        margin-bottom: 35px;
    }

    .intro-right__item-date {
        margin-bottom: 0;
        margin-top: 5px;
    }

    .intro-right__item {
        margin-bottom: 45px;
    }

    .latest-preview__header {
        margin-left: 24px;
    }

    .latest-preview__chevron {
        margin-right: 24px;
    }

    .latest-preview__item:last-child {
        display: none;
    } 

    .latest-preview__item {
        width: 210px;
        padding-left: 15px;
        padding-right: 15px;
        margin: 0;
    }

    .news__main-item {
        margin-bottom: 30px;
    }

    .news__container {
        flex-direction: column;
        padding-right: 36px;
        padding-left: 36px;
        margin-right: auto;
        margin-left: auto;
        max-width: 720px;
    }

    .news__text-container h3 {
        letter-spacing: normal;
        margin-right: 10px;
    }

    .news__row h4 {
        letter-spacing: normal;
        margin-right: 14px;
    }

    .news__left-column {
        width: auto;
    }

    .news__right-column {
        width: auto;
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 40px;
    }

    .news__right-header {
        margin-left: 0;
        margin-bottom: 20px;
    }

    .news__row-item {
        display: flex;
        width: 220px;
        margin-right: 30px;
    }

    .news__row img {
        width: 211px;
        height: 166px;
    }

    .news__item-date {
        margin-top: 4px;
    }

    .news__social i {
        transform: scale(1.05);
    }

    .news__social li {
        transform: skewX(-15deg) scale(0.9);
    }

    .news__social > ul > li:nth-child(1) > span:last-child {
        margin-left: 442px;
    }

    .news__social > ul > li:nth-child(2) > span:last-child {
        margin-left: 470px;
    }

    .news__social > ul > li:nth-child(3) > span:last-child {
        margin-left: 459px;
    }

    .news__social > ul > li:nth-child(4) > span:last-child {
        margin-left: 443px;
    }

    .news__social ul {
        padding: 0;
    }

    .news__social-icon {
        padding: 15px 20px 15px 20px;
        margin-left: -40px;
    }

    .news__social .fa-facebook {
        padding-left: 24px;
        padding-right: 24px;
    }

    .news__guides {
        margin-left: 0;
        margin-bottom: 0;
    }

    .news__guides-header {
        margin-bottom: 40px;
    }

    .news__guides-item {
        margin-bottom: 40px;
    }

    .guide__container {
        max-width: 1024px;
        padding-right: 24px;
        padding-left: 24px;
        margin-left: auto;
        margin-right: auto;
    }

    .guide__menu {
        margin-left: 0;
    }

    .guide__row h4 {
        font-size: 16px;
    }

    .guide_row-text-container-small {
        margin-right: 35px;
    }

    .guide__row-first-item{
        background-size: cover;
        background-position: top center;
    }

    .guide__row-second-item {
        background-size: cover;
        background-position: top center;
    }

    .guide__row-third-item {
        margin-right: 15px;
        background-size: cover;
        background-position: top center;
    }

    .guide__row-fourth-item {
        margin-right: 15px;
        background-size: cover;
        background-position: top center;
    }

    .guide__row-fifth-item {
        background-size: cover;
        background-position: top center;
    }

    .instagram {
        height: auto;
    }

    .instagram__container {
        flex-direction: column;
        height: auto;
        max-width: 720px;
        padding-left: 36px;
        padding-right: 36px;
        margin-left: auto;
        margin-right: auto;
    }

    .instagram__left-column-item img {
        margin-right: 30px;
    }

    .instagram__left-column-item-content h3 {
        letter-spacing: 0.5px;
    }

    .instagram__left-column-navigation {
        margin-top: 0;
    }

    .instagram__right-column {
        padding-top: 40px;
        width: auto;
    }

    .instagram__right-column-item img {
    width: calc(50% - 10px);
    max-width: 100%;
    }

    .instagram__right-column-item {
    width: 400px;
    height: 400px;
    }

    .instagram__right-column-container {
        margin-bottom: 30px;
    }

    .raiting-content {
        margin-left: 26px;
    }

    .raiting-content h4 {
        letter-spacing: normal;
    }

    .instagram__right-column p {
        max-width: 400px;
    }

    .instagram__input {
        max-width: 370px;
    }

    .instagram__subscribe {
        max-width: 231px;
        padding-left: 151px;
    }

    .footer-section {
        height: auto;
    }

    .footer__container {
        padding-left: 39px;
        padding-right: 15px;
        max-width: 720px;
        flex-direction: column;
    }

    .footer__container-column {
        width: 56%;
    }

    .footer__container > .footer__container-column:first-child {
        width: auto;
    }

    .footer__container-column-wrap {
        display: flex;
        margin-top: 20px;
    }

    .footer__container-column-item-content {
        letter-spacing: normal;
    }

    .footer__container-column-item {
        margin-right: 8px;
    }

    .footer__item-date {
        margin-top: 4px;
    }

    
}